@model HumanDesign.Models.Gate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model != null)
{
    <style>
        .details-table th, .details-table td {
            border-right: 1px solid #dee2e6; /* Adding vertical line between columns */
        }

            .details-table th:last-child, .details-table td:last-child {
                border-right: none; /* Removing the border from the last column */
            }
    </style>

    <table class="table details-table">
        <thead>
            <tr>
                <th scope="col">Feature</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Notes)</td>
                <td>@Html.DisplayFor(model => model.Notes)</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
}
else
{
    <div>
        <p>Gate not found.</p>
    </div>
}
