@model IEnumerable<HumanDesign.Models.Center>

@{
    ViewData["Title"] = "Index";
}

<h2>List of all Centers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Undefined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipsDefined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipsUndefined)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Undefined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipsDefined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipsUndefined)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
